<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wzp.project.android.elvtmtn"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <!-- 访问网络一定要记得加该条权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- 使用Baidu地图所需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    
    <application
        android:name="wzp.project.android.elvtmtn.util.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data 
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="SDMjoVaqLsZCqaT1lv8WY8ArBxKwAzU9" />
        
        <!-- 如果需要利用百度提供的定位api，一定要声明该服务，否则定位功能无法实现 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        
        <activity
            android:name="wzp.project.android.elvtmtn.activity.impl.EmployeeLoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="wzp.project.android.elvtmtn.activity.impl.MainActivity">
        </activity>
        
        <activity 
            android:name="wzp.project.android.elvtmtn.activity.impl.MaintainOrderSearchActivity">
        </activity>
        
        <activity 
            android:name="wzp.project.android.elvtmtn.activity.impl.MaintainOrderDetailActivity">
        </activity>
        
        <activity 
            android:name="wzp.project.android.elvtmtn.activity.impl.EmployeeSignInActivity">
        </activity>
        
        <activity 
            android:name="wzp.project.android.elvtmtn.activity.impl.WorkOrderFeedbackActivity">
        </activity>
        
        <activity 
            android:name="wzp.project.android.elvtmtn.activity.impl.ElevatorRecordDetailActivity">
        </activity>
        
        <activity 
            android:name="wzp.project.android.elvtmtn.activity.impl.FaultOrderSearchActivity">
        </activity>
        
        <activity 
            android:name="wzp.project.android.elvtmtn.activity.impl.FaultOrderDetailActivity">
        </activity>
        
        <activity 
            android:name="wzp.project.android.elvtmtn.activity.impl.EmployeeSignInDetailActivity">
        </activity>
        
        <activity 
            android:name="wzp.project.android.elvtmtn.activity.impl.EmployeeInfoActivity">
        </activity>
        
    </application>
</manifest>
